<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button (click)="toggleShowTwinkle()" class="btn btn-primary">Display Details</button>
      <p *ngIf="showTwinkle">
        Twinkle, twinkle, little star,
        How I wonder what you are!
        Up above the world so high,
        Like a diamond in the sky.

        When the blazing sun is gone,
        When he nothing shines upon,
        Then you show your little light,
        Twinkle, twinkle, all the night.
      </p>
      <p
        *ngFor="let log of buttonClickLogs; let i = index;"
        [ngStyle]="{ backgroundColor: i >= 4 ? 'blue' : 'white' }"
        [ngClass]="{ 'white-color': i >= 4 }"
      >
        {{ log }}
      </p>
    </div>
  </div>
</div>
